{
  "openapi": "3.1.0",
  "info": {
    "title": "Willi Mako App API",
    "version": "1.0.0",
    "description": "Die REST-API hinter der eigentlichen Anwendung — Login, Fallakten (Klärfälle), Coaching-Chat, Mandanten-/Team-Verwaltung und AVV-Onboarding. Authentifizierung erfolgt über das HttpOnly-Session-Cookie `wm_sid`, das POST /api/auth/verify bzw. POST /api/mandant/switch setzt. Jeder Request-Body muss `Content-Type: application/json` verwenden. Für die read-only, mandantenübergreifende Admin-Sicht auf Token-Basis siehe stattdessen `/api/agent/openapi.json`; das ist ein separater API- und Token-Typ."
  },
  "servers": [
    {
      "url": "https://willi.cernion.de"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "paths": {
    "/api/openapi.json": {
      "get": {
        "operationId": "getAppOpenApiSpec",
        "summary": "Diese Spezifikation abrufen",
        "description": "Unauthentifiziert erreichbar (reine Dokumentation).",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OpenAPI-Dokument.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/request-link": {
      "post": {
        "operationId": "requestLoginLink",
        "summary": "Magic-Link zum Einloggen per E-Mail anfordern",
        "description": "Erzeugt und verschickt einen einmalig gültigen Login-Link. Existiert noch kein Konto zu dieser E-Mail, wird beim Verify-Aufruf automatisch ein neues Konto samt eigenem Mandanten angelegt. Antwortet immer identisch, unabhängig davon, ob die E-Mail bereits ein Konto hat (keine Enumeration).",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link verschickt (oder E-Mail existiert nicht — nicht unterscheidbar).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/auth/token-peek": {
      "get": {
        "operationId": "peekMagicLinkToken",
        "summary": "Einen Magic-Link-Token anzeigen, bevor er verbraucht wird",
        "description": "Für einen Client sinnvoll, um vor POST /api/auth/verify z.B. \"Einladung zu Team X annehmen?\" anzuzeigen. Konsumiert den Token NICHT.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status des Tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPeekResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify": {
      "post": {
        "operationId": "verifyMagicLink",
        "summary": "Magic-Link-Token einlösen und Session-Cookie erhalten",
        "description": "Einmalig verwendbar. Bei purpose=invite und einem bereits an einen ANDEREN Mandanten gebundenen Konto wird kein automatischer Wechsel vollzogen — stattdessen liefert die Antwort pendingMandantSwitch, und der Client muss POST /api/mandant/switch mit der invitationId aufrufen, um zu bestätigen.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eingeloggt.",
            "headers": {
              "Set-Cookie": {
                "description": "Setzt das Session-Cookie (wm_sid; HttpOnly; SameSite=Strict).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAuthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Konto oder Mandant deaktiviert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Aktuell eingeloggten Nutzer abrufen",
        "responses": {
          "200": {
            "description": "Aktuelle Identität.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Session beenden",
        "responses": {
          "200": {
            "description": "Ausgeloggt (auch ohne gültige Session).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mandant/invite": {
      "post": {
        "operationId": "inviteToMandant",
        "summary": "Ein weiteres Teammitglied per E-Mail einladen",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Einladung verschickt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/mandant/switch": {
      "post": {
        "operationId": "switchMandant",
        "summary": "Einen ausstehenden Mandanten-Wechsel bestätigen",
        "description": "Wird nach einer Einladung aufgerufen, die laut POST /api/auth/verify eine pendingMandantSwitch ergeben hat.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invitationId"
                ],
                "properties": {
                  "invitationId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandant gewechselt.",
            "headers": {
              "Set-Cookie": {
                "description": "Setzt das Session-Cookie (wm_sid; HttpOnly; SameSite=Strict).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwitchMandantResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Zielmandant wurde deaktiviert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/mandant/members": {
      "get": {
        "operationId": "listMandantMembers",
        "summary": "Mitglieder des eigenen Mandanten auflisten",
        "responses": {
          "200": {
            "description": "Mitgliederliste.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "members"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/mandant/usage": {
      "get": {
        "operationId": "getMandantUsage",
        "summary": "Nutzungsstatistik des eigenen Mandanten",
        "responses": {
          "200": {
            "description": "Nutzungsstatistik.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandantUsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/mandant/avv-record": {
      "get": {
        "operationId": "getMandantAvvRecord",
        "summary": "Zuletzt bestätigte AVV-Fassung abrufen",
        "responses": {
          "200": {
            "description": "Bestätigte AVV.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvvRecordResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Noch keine AVV-Annahme hinterlegt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/onboarding/avv": {
      "get": {
        "operationId": "getAvvOnboarding",
        "summary": "AVV-Text zur Anzeige vor der Annahme abrufen",
        "responses": {
          "200": {
            "description": "AVV-Inhalt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvvOnboardingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/avv/accept": {
      "post": {
        "operationId": "acceptAvv",
        "summary": "AVV annehmen (Art. 28 DSGVO)",
        "description": "Voraussetzung für die Nutzung von Chat/Fallakte (siehe AuthMeResponse.avvAccepted). Für Mitarbeiter des STROMDAO-Teams (isStaff=true) nicht anwendbar. company ist nur beim allerersten Aufruf für einen neuen Mandanten erforderlich/veränderbar — danach unveränderlich über diesen Endpunkt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "company": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Angenommen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Name fehlt, oder company-Angaben fehlen beim erstmaligen Anlegen eines Mandanten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/coach/start": {
      "post": {
        "operationId": "startCase",
        "summary": "Neue Fallakte eröffnen und ersten Coach-Turn anstoßen",
        "description": "Legt eine neue Fallakte an und startet die erste Analyse asynchron im Hintergrund. Mit GET /api/coach/turn/{turnId} pollen, bis status \"done\" ist.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Freitext oder eine rohe EDIFACT-Nachricht."
                  },
                  "caseId": {
                    "type": "string",
                    "description": "Optional: eigene ID statt einer automatisch generierten."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Turn gestartet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoachTurnKickoff"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/coach/message": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Eine weitere Nachricht in einer bestehenden Fallakte senden",
        "description": "Ein abgeschlossener Fall (card.case.status=\"abgeschlossen\") wird durch eine neue Nachricht automatisch wieder auf \"in_klärung\" gesetzt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId",
                  "text"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Turn gestartet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoachTurnKickoff"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/coach/turn/{turnId}": {
      "get": {
        "operationId": "getCoachTurn",
        "summary": "Status/Ergebnis eines Coach-Turns abfragen",
        "description": "Für Polling gedacht (z.B. alle 1-2s), bis status \"done\" oder \"error\" ist. Ein Turn wird 10 Minuten nach Erstellung aus dem Speicher entfernt.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TurnId"
          }
        ],
        "responses": {
          "200": {
            "description": "Turn-Status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TurnStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Turn unbekannt, abgelaufen, oder gehört zu einem anderen Mandanten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "Eigene Fallakten auflisten",
        "responses": {
          "200": {
            "description": "Fallakten des eigenen Mandanten.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "sessions"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "sessions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SessionSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/sessions/{sessionId}": {
      "get": {
        "operationId": "getSession",
        "summary": "Vollständige Fallakte inkl. Chatverlauf abrufen",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Vollständige Fallakte.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/sessions/{sessionId}/card.md": {
      "get": {
        "operationId": "getSessionCardMarkdown",
        "summary": "Fallakte als Markdown-Export abrufen",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown-Dokument.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Keine gültige Session.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Nicht gefunden.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{sessionId}/review.md": {
      "get": {
        "operationId": "getSessionReviewMarkdown",
        "summary": "Trainings-Review als Markdown abrufen",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown-Dokument.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Keine gültige Session.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Nicht gefunden.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{sessionId}/close": {
      "post": {
        "operationId": "closeCase",
        "summary": "Fallakte als abgeschlossen markieren",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Abgeschlossen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseCaseResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/sessions/{sessionId}/live-coaching": {
      "post": {
        "operationId": "setLiveCoaching",
        "summary": "Live-Coaching-Anfrage für diese Fallakte stellen oder zurückziehen",
        "description": "Toggle: requested=true stellt die Anfrage (sichtbar für das STROMDAO-Team über die Staff-Ansicht), requested=false zieht sie zurück.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requested"
                ],
                "properties": {
                  "requested": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aktualisiert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveCoachingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/review/session": {
      "post": {
        "operationId": "submitReview",
        "summary": "Fachliches Review-Feedback zu einer Fallakte hinterlegen",
        "description": "Für Trainings-/Qualitätszwecke, unabhängig vom Live-Coaching-Flag. Speichert dauerhaft (data/.../review.md) und ergänzt heuristische Verbesserungsvorschläge.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "feedback": {
                    "type": "string"
                  },
                  "reviewer": {
                    "type": "string",
                    "description": "Standard: \"training-review\"."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gespeichert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "wm_sid",
        "description": "Wird von POST /api/auth/verify bzw. POST /api/mandant/switch per Set-Cookie gesetzt (HttpOnly, SameSite=Strict, 90 Tage gültig, bei jeder Nutzung verlängert)."
      }
    },
    "parameters": {
      "SessionId": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "description": "Die Fallakten-ID (= card.case.id), zurückgegeben von POST /api/coach/start.",
        "schema": {
          "type": "string"
        }
      },
      "TurnId": {
        "name": "turnId",
        "in": "path",
        "required": true,
        "description": "Zurückgegeben von POST /api/coach/start bzw. POST /api/coach/message.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Keine gültige Session (Cookie fehlt, abgelaufen, oder Konto/Mandant deaktiviert).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Nicht gefunden oder gehört zu einem anderen Mandanten — bewusst kein 403, um keine Existenz fremder Ressourcen zu verraten.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Ungültige oder fehlende Eingabe.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate-Limit erreicht.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          }
        }
      },
      "TokenPeekResult": {
        "type": "object",
        "description": "Erlaubt einem Client, einen per E-Mail zugestellten Magic-Link-Token vor dem eigentlichen Verify-Aufruf anzuzeigen (z.B. \"Einladung zu Team X\" statt eines rohen Tokens).",
        "required": [
          "valid"
        ],
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "login",
              "invite"
            ]
          },
          "emailMasked": {
            "type": "string",
            "description": "Maskierte E-Mail, z.B. \"th***@stromdao.com\"."
          },
          "mandantName": {
            "type": "string",
            "description": "Nur bei purpose=invite gesetzt: Name des Teams, in das eingeladen wird."
          }
        }
      },
      "PendingMandantSwitch": {
        "type": [
          "object",
          "null"
        ],
        "description": "Gesetzt, wenn ein Einladungs-Link mit einem bereits bei einem ANDEREN Mandanten bestehenden Konto verifiziert wurde — der Nutzer muss den Wechsel über POST /api/mandant/switch explizit bestätigen, bevor er vollzogen wird.",
        "required": [
          "invitationId",
          "fromMandantName",
          "toMandantName"
        ],
        "properties": {
          "invitationId": {
            "type": "string"
          },
          "fromMandantName": {
            "type": [
              "string",
              "null"
            ]
          },
          "toMandantName": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "VerifyAuthResponse": {
        "type": "object",
        "required": [
          "success",
          "email",
          "mandantId",
          "mandantName",
          "pendingMandantSwitch"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "email": {
            "type": "string"
          },
          "mandantId": {
            "type": "string"
          },
          "mandantName": {
            "type": [
              "string",
              "null"
            ]
          },
          "pendingMandantSwitch": {
            "$ref": "#/components/schemas/PendingMandantSwitch"
          }
        }
      },
      "AuthMeResponse": {
        "type": "object",
        "required": [
          "success",
          "email",
          "mandantId",
          "mandantName",
          "isStaff",
          "avvAccepted"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "email": {
            "type": "string"
          },
          "mandantId": {
            "type": "string"
          },
          "mandantName": {
            "type": [
              "string",
              "null"
            ]
          },
          "isStaff": {
            "type": "boolean",
            "description": "STROMDAO-Coaching-Team, nicht Kunde — für diese Konten entfällt das AVV-Gate immer."
          },
          "avvAccepted": {
            "type": "boolean",
            "description": "Ob für den aktuellen avv.AVV_VERSION bereits eine Annahme vorliegt. false blockiert die Nutzung von Chat/Fallakte in der WebUI, bis POST /api/onboarding/avv/accept aufgerufen wurde."
          }
        }
      },
      "Member": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "createdAt",
          "lastLoginAt",
          "isActive"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastLoginAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "UsageDay": {
        "type": "object",
        "required": [
          "date",
          "count"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "MandantUsageResponse": {
        "type": "object",
        "required": [
          "success",
          "totalTurns",
          "last30Days"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "totalTurns": {
            "type": "integer",
            "description": "Gesamtzahl aller Coach-Turns (start + message) dieses Mandanten seit Bestehen."
          },
          "last30Days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageDay"
            }
          }
        }
      },
      "Company": {
        "type": [
          "object",
          "null"
        ],
        "required": [
          "name",
          "street",
          "postalCode",
          "city",
          "country"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "AvvSection": {
        "type": "object",
        "required": [
          "heading",
          "paragraphs"
        ],
        "properties": {
          "heading": {
            "type": "string"
          },
          "paragraphs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AvvOnboardingResponse": {
        "type": "object",
        "description": "Inhalt der AVV (Art. 28 DSGVO) für den aktuellen Mandanten, zur Anzeige vor der Annahme.",
        "required": [
          "success",
          "avvVersion",
          "sections",
          "company",
          "needsCompanyDetails",
          "userName"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "avvVersion": {
            "type": "string"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvvSection"
            }
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "needsCompanyDetails": {
            "type": "boolean",
            "description": "true, wenn noch keine Firmenstammdaten hinterlegt sind — dann muss POST /api/onboarding/avv/accept das company-Feld mitschicken."
          },
          "userName": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AvvRecordResponse": {
        "type": "object",
        "required": [
          "success",
          "avvVersion",
          "acceptedAt",
          "sections"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "avvVersion": {
            "type": "string"
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvvSection"
            }
          }
        }
      },
      "SwitchMandantResponse": {
        "type": "object",
        "required": [
          "success",
          "mandantId",
          "mandantName"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "mandantId": {
            "type": "string"
          },
          "mandantName": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "LiveCoaching": {
        "type": "object",
        "required": [
          "requested",
          "requestedAt",
          "requestedByEmail"
        ],
        "properties": {
          "requested": {
            "type": "boolean"
          },
          "requestedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "requestedByEmail": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CaseCard": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://cernion.local/schemas/gpke-wim-case-card.schema.json",
        "title": "GPKE/WiM Klärfall-Coach Fallkarte",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "case",
          "participants",
          "trigger",
          "process",
          "evidence",
          "clarification",
          "processDiagram",
          "explanation",
          "recommendedNextSteps",
          "sources",
          "export"
        ],
        "properties": {
          "case": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "id",
              "title",
              "summary",
              "status",
              "domain",
              "singleTopicConstraint"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "summary": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "draft",
                  "in_klärung",
                  "lösungsfähig",
                  "abgeschlossen"
                ]
              },
              "domain": {
                "type": "string",
                "enum": [
                  "GPKE",
                  "WiM",
                  "MaBiS",
                  "other",
                  "unknown"
                ]
              },
              "singleTopicConstraint": {
                "type": "boolean"
              }
            }
          },
          "participants": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "userRole",
              "counterpartRole",
              "otherRoles",
              "communicationDirection",
              "marketPartnerResolution"
            ],
            "properties": {
              "userRole": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "counterpartRole": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "otherRoles": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "communicationDirection": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "marketPartnerResolution": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/marketPartnerResolutionItem"
                }
              }
            }
          },
          "trigger": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "messageType",
              "responseType",
              "errorCodeOrText",
              "receivedAt",
              "rawUserDescription",
              "originalExchangeReference",
              "originalExchangeReferenceAt",
              "aperakOutcome"
            ],
            "properties": {
              "messageType": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "responseType": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "errorCodeOrText": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "receivedAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "rawUserDescription": {
                "type": "string"
              },
              "originalExchangeReference": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "originalExchangeReferenceAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "aperakOutcome": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "process": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "businessTransaction",
              "currentStatus",
              "targetStatus",
              "blockedPoint"
            ],
            "properties": {
              "businessTransaction": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "currentStatus": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "targetStatus": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "blockedPoint": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "evidence": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "officialEvidence",
              "hintsOnly",
              "advisoryKnowledge",
              "userClaims",
              "missingEvidence",
              "assumptions",
              "edifactEnvelope",
              "edifactMessages",
              "edifactSyntaxCheck"
            ],
            "properties": {
              "officialEvidence": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/evidenceItem"
                }
              },
              "hintsOnly": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/evidenceItem"
                }
              },
              "advisoryKnowledge": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/evidenceItem"
                }
              },
              "userClaims": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/evidenceItem"
                }
              },
              "missingEvidence": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/missingEvidenceItem"
                }
              },
              "assumptions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The model's own free-text notes (newAssumptions), never populated by the deterministic EDIFACT parser."
              },
              "edifactEnvelope": {
                "$ref": "#/$defs/edifactEnvelope"
              },
              "edifactMessages": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactMessageItem"
                }
              },
              "edifactSyntaxCheck": {
                "$ref": "#/$defs/edifactSyntaxCheck"
              }
            }
          },
          "clarification": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "openQuestions",
              "answeredQuestions",
              "nextQuestion"
            ],
            "properties": {
              "openQuestions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "answeredQuestions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "nextQuestion": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "processDiagram": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "format",
              "nodes",
              "edges",
              "mermaid"
            ],
            "properties": {
              "format": {
                "type": "string",
                "enum": [
                  "graph",
                  "mermaid"
                ]
              },
              "nodes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/diagramNode"
                }
              },
              "edges": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/diagramEdge"
                }
              },
              "mermaid": {
                "type": "string"
              }
            }
          },
          "explanation": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "short",
              "trainingNotes",
              "typicalPitfalls",
              "userSummary",
              "primaryTask"
            ],
            "properties": {
              "short": {
                "type": "string"
              },
              "trainingNotes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "typicalPitfalls": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "userSummary": {
                "type": "string",
                "description": "\"Was bedeutet das für dich?\" — verständliche Einordnung für den Sachbearbeiter."
              },
              "primaryTask": {
                "type": "string",
                "description": "Der nächste sinnvolle Prüfschritt in einem Satz."
              }
            }
          },
          "recommendedNextSteps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/$defs/sourceItem"
            }
          },
          "export": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "markdown",
              "jsonReady",
              "pdfReady"
            ],
            "properties": {
              "markdown": {
                "type": "string"
              },
              "jsonReady": {
                "type": "boolean"
              },
              "pdfReady": {
                "type": "boolean"
              }
            }
          }
        },
        "$defs": {
          "evidenceItem": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "id",
              "label",
              "value",
              "sourceClass",
              "bindingStrength"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "sourceClass": {
                "type": "string"
              },
              "bindingStrength": {
                "type": "string",
                "enum": [
                  "official_evidence",
                  "not_official_proof",
                  "advisory_knowledge",
                  "user_claim",
                  "assumption"
                ]
              }
            }
          },
          "missingEvidenceItem": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "missingDataPoint",
              "label",
              "sourceClass",
              "enablesDossierAddition"
            ],
            "properties": {
              "missingDataPoint": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "sourceClass": {
                "type": "string"
              },
              "enablesDossierAddition": {
                "type": "string"
              }
            }
          },
          "diagramNode": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "id",
              "label",
              "type"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "diagramEdge": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "from",
              "to",
              "label"
            ],
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "label": {
                "type": "string"
              }
            }
          },
          "marketPartnerResolutionItem": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "code",
              "status",
              "label",
              "notes"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "resolved",
                  "not_found"
                ]
              },
              "label": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "sourceItem": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "id",
              "title",
              "url",
              "score",
              "endpoint"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "score": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "endpoint": {
                "type": "string"
              }
            }
          },
          "edifactEnvelope": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": false,
            "properties": {
              "interchangeReference": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "testIndicator": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactDateTime": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "value"
            ],
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "edifactReference": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "dateQualifier": {
                "type": "string"
              },
              "date": {
                "type": "string"
              }
            }
          },
          "edifactAmount": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "amount"
            ],
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              }
            }
          },
          "edifactPayment": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "amount",
              "reference",
              "date"
            ],
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              },
              "reference": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "date": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactQuantity": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "value",
              "unit"
            ],
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "value": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactPrice": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": false,
            "required": [
              "amount",
              "basis",
              "unit"
            ],
            "properties": {
              "amount": {
                "type": "string"
              },
              "basis": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactLineItem": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "lineNumber",
              "article",
              "quantities",
              "dateTimes",
              "amounts",
              "price",
              "priceMissing",
              "taxRate",
              "priceMissingWarning"
            ],
            "properties": {
              "lineNumber": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "article": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "quantities": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactQuantity"
                }
              },
              "dateTimes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactDateTime"
                }
              },
              "amounts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactAmount"
                }
              },
              "price": {
                "$ref": "#/$defs/edifactPrice"
              },
              "priceMissing": {
                "type": "boolean"
              },
              "taxRate": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "priceMissingWarning": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactReferencedDocument": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "documentType",
              "documentNumber",
              "amounts",
              "dateTimes"
            ],
            "properties": {
              "documentType": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "documentNumber": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "amounts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactAmount"
                }
              },
              "dateTimes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactDateTime"
                }
              }
            }
          },
          "edifactIdentifier": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "value"
            ],
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "edifactQuantityGeneric": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "value",
              "unit"
            ],
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "value": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactCharacteristic": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "class",
              "values"
            ],
            "properties": {
              "qualifier": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "class": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "edifactSubBlock": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "seqQualifier",
              "article",
              "quantities",
              "dateTimes",
              "characteristics"
            ],
            "properties": {
              "seqQualifier": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "article": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "quantities": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactQuantityGeneric"
                }
              },
              "dateTimes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactDateTime"
                }
              },
              "characteristics": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactCharacteristic"
                }
              }
            }
          },
          "edifactStatus": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": false,
            "required": [
              "qualifier",
              "code"
            ],
            "properties": {
              "qualifier": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "code": {
                "type": "string"
              }
            }
          },
          "edifactCharacteristicRecord": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "objectId",
              "description",
              "status",
              "locationId",
              "references",
              "dateTimes",
              "subBlocks"
            ],
            "properties": {
              "objectId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "status": {
                "$ref": "#/$defs/edifactStatus"
              },
              "locationId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "references": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactReference"
                }
              },
              "dateTimes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactDateTime"
                }
              },
              "subBlocks": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactSubBlock"
                }
              }
            }
          },
          "edifactBankAccount": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "iban",
              "accountHolder",
              "bic",
              "bankName"
            ],
            "properties": {
              "qualifier": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "iban": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "accountHolder": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "bic": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "bankName": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactNote": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "text"
            ],
            "properties": {
              "qualifier": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "text": {
                "type": "string"
              }
            }
          },
          "edifactAddress": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": false,
            "required": [
              "street",
              "city",
              "postcode",
              "country"
            ],
            "properties": {
              "street": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "city": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "postcode": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "country": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "edifactParty": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "qualifier",
              "name",
              "address",
              "contactName",
              "email",
              "phone",
              "fax",
              "bankAccounts",
              "notes",
              "references",
              "dateTimes",
              "characteristics"
            ],
            "properties": {
              "qualifier": {
                "type": "string"
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "address": {
                "$ref": "#/$defs/edifactAddress"
              },
              "contactName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "phone": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "fax": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "bankAccounts": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactBankAccount"
                }
              },
              "notes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactNote"
                }
              },
              "references": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactReference"
                }
              },
              "dateTimes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactDateTime"
                }
              },
              "characteristics": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactCharacteristic"
                }
              }
            }
          },
          "edifactCommercial": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": false,
            "required": [
              "maloId",
              "productQualifier",
              "contactName",
              "contactEmail",
              "contactPhone",
              "lineItems",
              "referencedDocuments",
              "characteristicRecords",
              "parties",
              "totals",
              "paymentHistory"
            ],
            "properties": {
              "maloId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "productQualifier": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "contactName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "contactEmail": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "contactPhone": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lineItems": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactLineItem"
                }
              },
              "referencedDocuments": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactReferencedDocument"
                }
              },
              "characteristicRecords": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactCharacteristicRecord"
                }
              },
              "parties": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactParty"
                }
              },
              "totals": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactAmount"
                }
              },
              "paymentHistory": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactPayment"
                }
              }
            }
          },
          "edifactOutcome": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": false,
            "required": [
              "value",
              "label",
              "status"
            ],
            "properties": {
              "value": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "edifactMessageItem": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "messageReference",
              "messageType",
              "outcome",
              "errorCodes",
              "errorTexts",
              "messageDate",
              "dateTimes",
              "references",
              "identifiers",
              "bgmDocumentId",
              "commercial"
            ],
            "properties": {
              "messageReference": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "messageType": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "outcome": {
                "$ref": "#/$defs/edifactOutcome"
              },
              "errorCodes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "errorTexts": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "messageDate": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "dateTimes": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactDateTime"
                }
              },
              "references": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactReference"
                }
              },
              "identifiers": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactIdentifier"
                }
              },
              "bgmDocumentId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "commercial": {
                "$ref": "#/$defs/edifactCommercial"
              }
            }
          },
          "edifactSyntaxMessage": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "messageReference",
              "segmentCountOk",
              "declaredSegmentCount",
              "actualSegmentCount",
              "messageRefMatch",
              "ok"
            ],
            "properties": {
              "messageReference": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "segmentCountOk": {
                "type": "boolean"
              },
              "declaredSegmentCount": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "actualSegmentCount": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "messageRefMatch": {
                "type": "boolean"
              },
              "ok": {
                "type": "boolean"
              }
            }
          },
          "edifactSyntaxCheck": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": false,
            "required": [
              "messageCount",
              "messages",
              "interchangeRefMatch",
              "interchangeCountOk",
              "ok",
              "issues"
            ],
            "properties": {
              "messageCount": {
                "type": "number"
              },
              "messages": {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/edifactSyntaxMessage"
                }
              },
              "interchangeRefMatch": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "interchangeCountOk": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "ok": {
                "type": "boolean"
              },
              "issues": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CoachTurnKickoff": {
        "type": "object",
        "description": "Startet einen asynchronen Coach-Turn im Hintergrund. Enthält noch keine Antwort — der Client pollt GET /api/coach/turn/{turnId}, bis status \"done\" oder \"error\" ist. Polling statt einer langlebigen Streaming-Antwort, weil der Netzwerkpfad vor dieser App gezeigt hat, dass er Verbindungen über 10-45s nicht zuverlässig offenhält.",
        "required": [
          "success",
          "sessionId",
          "turnId"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "sessionId": {
            "type": "string"
          },
          "turnId": {
            "type": "string"
          }
        }
      },
      "ToolCallLogEntry": {
        "type": "object",
        "required": [
          "tool",
          "args",
          "ok"
        ],
        "properties": {
          "tool": {
            "type": "string",
            "description": "Name des vom Modell aufgerufenen Tools, z.B. \"search_knowledge\" oder \"update_case_file\"."
          },
          "args": {
            "type": "object"
          },
          "ok": {
            "type": "boolean"
          }
        }
      },
      "CallsLogEntry": {
        "type": "object",
        "required": [
          "at",
          "phase",
          "calls"
        ],
        "properties": {
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "phase": {
            "type": "string",
            "enum": [
              "start",
              "message"
            ]
          },
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCallLogEntry"
            }
          }
        }
      },
      "TurnProgressStep": {
        "type": "object",
        "description": "Ein Fortschrittsereignis pro Tool-Aufruf-Runde, während der Turn noch läuft.",
        "required": [
          "round",
          "maxRounds",
          "labels"
        ],
        "properties": {
          "round": {
            "type": "integer"
          },
          "maxRounds": {
            "type": "integer"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Menschenlesbare Labels der in dieser Runde aufgerufenen Tools, z.B. \"Durchsuche Wissensdatenbank…\"."
          }
        }
      },
      "TurnResult": {
        "type": "object",
        "required": [
          "success",
          "sessionId",
          "assistant",
          "card",
          "calls",
          "persisted",
          "reviewUrl",
          "liveCoaching"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "sessionId": {
            "type": "string"
          },
          "assistant": {
            "type": "string",
            "description": "Die für den Nutzer sichtbare Antwort des Coaches."
          },
          "card": {
            "$ref": "#/components/schemas/CaseCard"
          },
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCallLogEntry"
            }
          },
          "persisted": {
            "type": "boolean",
            "const": true
          },
          "reviewUrl": {
            "type": "string"
          },
          "liveCoaching": {
            "$ref": "#/components/schemas/LiveCoaching"
          }
        }
      },
      "TurnStatusResponse": {
        "type": "object",
        "required": [
          "success",
          "status",
          "progress",
          "result",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "done",
              "error"
            ]
          },
          "progress": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TurnProgressStep"
            }
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TurnResult"
              },
              {
                "type": "null"
              }
            ],
            "description": "Nur gesetzt, wenn status=\"done\"."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nur gesetzt, wenn status=\"error\"."
          }
        }
      },
      "ChatTurn": {
        "type": "object",
        "required": [
          "role",
          "text",
          "at"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "text": {
            "type": "string"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionVersionSummary": {
        "type": "object",
        "required": [
          "at",
          "reason",
          "title",
          "status"
        ],
        "properties": {
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "reason": {
            "type": "string",
            "description": "z.B. \"start\", \"message\", \"close\", \"review\", \"live-coaching\"."
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SessionSummary": {
        "type": "object",
        "required": [
          "sessionId",
          "title",
          "status",
          "domain",
          "updatedAt",
          "createdAt",
          "turns",
          "openQuestions",
          "sources",
          "reviews",
          "liveCoaching"
        ],
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Siehe CaseCard.case.status für die vollständige Enum."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "turns": {
            "type": "integer",
            "description": "Anzahl Chat-Nachrichten (Nutzer + Assistent zusammen)."
          },
          "openQuestions": {
            "type": "integer"
          },
          "sources": {
            "type": "integer"
          },
          "reviews": {
            "type": "integer"
          },
          "liveCoaching": {
            "$ref": "#/components/schemas/LiveCoaching"
          }
        }
      },
      "SessionDetailResponse": {
        "type": "object",
        "required": [
          "success",
          "sessionId",
          "createdAt",
          "updatedAt",
          "card",
          "chat",
          "calls",
          "versions",
          "reviewCount",
          "liveCoaching"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "sessionId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "card": {
            "$ref": "#/components/schemas/CaseCard"
          },
          "chat": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatTurn"
            }
          },
          "calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallsLogEntry"
            }
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionVersionSummary"
            },
            "description": "Die letzten bis zu 25 Versionsstände der Fallakte."
          },
          "reviewCount": {
            "type": "integer"
          },
          "liveCoaching": {
            "$ref": "#/components/schemas/LiveCoaching"
          }
        }
      },
      "CloseCaseResponse": {
        "type": "object",
        "required": [
          "success",
          "sessionId",
          "card"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "sessionId": {
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/CaseCard"
          }
        }
      },
      "LiveCoachingResponse": {
        "type": "object",
        "required": [
          "success",
          "sessionId",
          "liveCoaching"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "sessionId": {
            "type": "string"
          },
          "liveCoaching": {
            "$ref": "#/components/schemas/LiveCoaching"
          }
        }
      },
      "ReviewResponse": {
        "type": "object",
        "required": [
          "success",
          "sessionId",
          "reviewMarkdown",
          "proposals",
          "persisted"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "sessionId": {
            "type": "string"
          },
          "reviewMarkdown": {
            "type": "string"
          },
          "proposals": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Heuristisch aus dem Feedback abgeleitete Verbesserungsvorschläge für Prompt/Code — keine automatische Änderung."
          },
          "persisted": {
            "type": "boolean",
            "const": true
          }
        }
      }
    }
  }
}
